# ==========================
# Maven
# ==========================
target/

# ==========================
# NetBeans (User-specific settings only)
# ==========================
nbproject/private/

# ==========================
# macOS
# ==========================
.DS_Store

# ==========================
# Java
# ==========================
*.class

# ==========================
# Logs
# ==========================
*.log

# ==========================
# IDE
# ==========================
.idea/
.vscode/

# Ignore separate Node.js project
node-api/
