<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="         https://jakarta.ee/xml/ns/jakartaee         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!-- AUTH SERVLET -->
    <servlet>
        <servlet-name>
            AuthServlet
        </servlet-name>
        <servlet-class>
            com.skillmanager.controller.AuthServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CertificateServlet</servlet-name>
        <servlet-class>com.skillmanager.controller.CertificateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyCertificateServlet</servlet-name>
        <servlet-class>com.skillmanager.controller.VerifyCertificateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CertificatePreviewServlet</servlet-name>
        <servlet-class>com.skillmanager.controller.CertificatePreviewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAuthServlet</servlet-name>
        <servlet-class>com.skillmanager.controller.AdminAuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadCertificateServlet</servlet-name>
        <servlet-class>com.skillmanager.controller.DownloadCertificateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CertificateHistoryServlet</servlet-name>
        <servlet-class>com.skillmanager.controller.CertificateHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MySkillsServlet</servlet-name>
        <servlet-class>com.skillmanager.controller.MySkillsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CourseServlet</servlet-name>
        <servlet-class>CourseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TopicServlet</servlet-name>
        <servlet-class>com.skillmanager.controller.TopicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MarkTopicCompleteServlet</servlet-name>
        <servlet-class>com.skillmanager.controller.MarkTopicCompleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>com.skillmanager.controller.UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>com.skillmanager.controller.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyOtpServlet</servlet-name>
        <servlet-class>com.skillmanager.controller.VerifyOtpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <servlet-class>com.skillmanager.controller.ResetPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterOtpServlet</servlet-name>
        <servlet-class>com.skillmanager.controller.RegisterOtpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecommendationServlet</servlet-name>
        <servlet-class>com.skillmanager.controller.RecommendationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminCertificateServlet</servlet-name>
        <servlet-class>com.skillmanager.controller.AdminCertificateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
            AuthServlet
        </servlet-name>
        <url-pattern>
            /AuthServlet
        </url-pattern>
    </servlet-mapping>
    <!-- SKILL SERVLET -->
    <servlet>
        <servlet-name>
            SkillServlet
        </servlet-name>
        <servlet-class>
            com.skillmanager.controller.SkillServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
            SkillServlet
        </servlet-name>
        <url-pattern>
            /SkillServlet
        </url-pattern>
    </servlet-mapping>
    <!-- TEST SERVLET -->
    <servlet>
        <servlet-name>
            TestServlet
        </servlet-name>
        <servlet-class>
            com.skillmanager.controller.TestServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
            TestServlet
        </servlet-name>
        <url-pattern>
            /TestServlet
        </url-pattern>
    </servlet-mapping>
    <!-- RESULT SERVLET -->
    <servlet>
        <servlet-name>
            ResultServlet
        </servlet-name>
        <servlet-class>
            com.skillmanager.controller.ResultServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
            ResultServlet
        </servlet-name>
        <url-pattern>
            /ResultServlet
        </url-pattern>
    </servlet-mapping>
    <!-- ADMIN SERVLET -->
    <servlet>
        <servlet-name>
            AdminServlet
        </servlet-name>
        <servlet-class>
            com.skillmanager.controller.AdminServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
            AdminServlet
        </servlet-name>
        <url-pattern>
            /AdminServlet
        </url-pattern>
    </servlet-mapping>
    <!-- LOGOUT SERVLET -->
    <servlet>
        <servlet-name>
            LogoutServlet
        </servlet-name>
        <servlet-class>
            com.skillmanager.controller.LogoutServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
            LogoutServlet
        </servlet-name>
        <url-pattern>
            /LogoutServlet
        </url-pattern>
    </servlet-mapping>
    <!-- AUTHENTICATION FILTER -->
    <filter>
        <filter-name>
            AuthenticationFilter
        </filter-name>
        <filter-class>
            com.skillmanager.filter.AuthenticationFilter
        </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>
            AuthenticationFilter
        </filter-name>
        <url-pattern>
            /TestServlet
        </url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>
            AuthenticationFilter
        </filter-name>
        <url-pattern>
            /ResultServlet
        </url-pattern>
    </filter-mapping>
    <!-- ADMIN FILTER -->
    <filter>
        <filter-name>
        AdminFilter
    </filter-name>
        <filter-class>
        com.skillmanager.filter.AdminFilter
    </filter-class>
    </filter>
    <filter-mapping>
        <filter-name>
        AdminFilter
    </filter-name>
        <url-pattern>
        /admin/admin-dashboard.jsp
    </url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>
        AdminFilter
    </filter-name>
        <url-pattern>
        /admin/manage-questions.jsp
    </url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>
        AdminFilter
    </filter-name>
        <url-pattern>
        /admin/manage-students.jsp
    </url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>
        AdminFilter
    </filter-name>
        <url-pattern>
        /admin/manage-results.jsp
    </url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>
        AdminFilter
    </filter-name>
        <url-pattern>
        /admin/manage-skills.jsp
    </url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>
        AdminFilter
    </filter-name>
        <url-pattern>
        /admin/manage-resources.jsp
    </url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>
        AdminFilter
    </filter-name>
        <url-pattern>
        /admin/edit-question.jsp
    </url-pattern>
    </filter-mapping>
    <!-- SESSION CONFIG -->
    <servlet-mapping>
        <servlet-name>
        CertificateServlet
    </servlet-name>
        <url-pattern>
        /CertificateServlet
    </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
        VerifyCertificateServlet
    </servlet-name>
        <url-pattern>
        /VerifyCertificate
    </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
        CertificatePreviewServlet
    </servlet-name>
        <url-pattern>
        /CertificatePreviewServlet
    </url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>
        index.jsp
    </welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>AdminAuthServlet</servlet-name>
        <url-pattern>/AdminAuthServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadCertificateServlet</servlet-name>
        <url-pattern>/DownloadCertificateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CertificateHistoryServlet</servlet-name>
        <url-pattern>/CertificateHistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MySkillsServlet</servlet-name>
        <url-pattern>/MySkillsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CoursesServlet</servlet-name>
        <servlet-class>
        com.skillmanager.controller.CoursesServlet
    </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CoursesServlet</servlet-name>
        <url-pattern>/CoursesServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>
        CourseDetailsServlet
    </servlet-name>
        <servlet-class>
        com.skillmanager.controller.CourseDetailsServlet
    </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
        CourseDetailsServlet
    </servlet-name>
        <url-pattern>
        /CourseDetailsServlet
    </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TopicServlet</servlet-name>
        <url-pattern>/TopicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MarkTopicCompleteServlet</servlet-name>
        <url-pattern>/MarkTopicCompleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyOtpServlet</servlet-name>
        <url-pattern>/VerifyOtpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ResetPasswordServlet</servlet-name>
        <url-pattern>/ResetPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterOtpServlet</servlet-name>
        <url-pattern>/RegisterOtpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecommendationServlet</servlet-name>
        <url-pattern>/RecommendationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminCertificateServlet</servlet-name>
        <url-pattern>/AdminCertificateServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
        30
    </session-timeout>
    </session-config>
</web-app>
